In [29]:
import pandas as pd

In [30]:
file_path = 'data/pb_winning_numbers_03-18-2017.csv'

In [31]:
## Kaggle .csv with base powerball numbers and draw dates
pb = pd.read_csv(file_path)
pb['DrawDate']= pd.to_datetime(pb['DrawDate'])
pb_new = pb.loc[pb['DrawDate'] >= '01/01/2010']
pb_new.head()

    DrawDate  WB1  WB2  WB3  WB4  WB5  PB    PP
0 2017-03-15   30   16   41   48   53  16   3.0
1 2017-03-11   57   41   50   26    1  11   2.0
2 2017-03-08   42   23   59   46   33   4   2.0
3 2017-03-04    2   22   63   19   18  19   3.0
4 2017-03-01   16   10   52   40   55  17  10.0

In [32]:
## Texas Lottery - adding estimated jackpot
texas_url = "https://www.txlottery.org/export/sites/lottery/Games/Powerball/Winning_Numbers/index.html_1444349437.html"

texas_data = pd.read_html(texas_url)
texas_df = texas_data[0]
texas_df.head()

,Draw Date,Winning Numbers,Powerball,Power Play,Estimated Jackpot,Jackpot Winners,Jackpot Option
0,05/04/2019,30 - 6 - 23 - 16 - 61,2.0,2.0,$199 Million,Roll,NaN
1,05/01/2019,66 - 28 - 23 - 56 - 5,17.0,5.0,$181 Million,Roll,NaN
2,04/27/2019,45 - 29 - 62 - 41 - 2,6.0,3.0,$166 Million,Roll,NaN
3,04/24/2019,35 - 65 - 32 - 36 - 6,4.0,5.0,$150 Million,Roll,NaN
4,04/20/2019,3 - 63 - 27 - 65 - 30,1.0,3.0,$136 Million,Roll,NaN

In [33]:
## clean texas lottery data
texas_df_new = texas_df.loc[(texas_df['Draw Date'] != 'First Drawing for new Powerball matrix was 10/07/2015')]
texas_df_new1 = texas_df_new.loc[(texas_df_new['Draw Date'] != 'First Drawing for new Powerball matrix was 10/07/2015.')]
texas_df_new2 = texas_df_new1.loc[(texas_df_new1['Draw Date'] != 'First Drawing for new $2 Powerball matrix was 1/18/2012.')]
texas_df_new3 = texas_df_new2.loc[(texas_df_new2['Draw Date'] >= '01/01/2010')]
texas_df = texas_df_new3.loc[(texas_df_new3['Draw Date'] <= '03/17/2017')]
texas_df['Draw Date']= pd.to_datetime(texas_df['Draw Date']) 
texas_df.head()

/Users/amyclaman/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Draw Date,Winning Numbers,Powerball,Power Play,Estimated Jackpot,Jackpot Winners,Jackpot Option
14,2019-03-16,67 - 30 - 34 - 39 - 53,11.0,2.0,$495 Million,Roll,NaN
15,2019-03-13,69 - 36 - 45 - 47 - 18,14.0,3.0,$448 Million,Roll,NaN
16,2019-03-09,45 - 5 - 59 - 55 - 6,14.0,3.0,$414 Million,Roll,NaN
17,2019-03-06,21 - 35 - 10 - 6 - 46,23.0,2.0,$381 Million,Roll,NaN
18,2019-03-02,27 - 68 - 25 - 19 - 1,21.0,2.0,$348 Million,Roll,NaN

In [34]:
## only need estimated jackpot
clean_texas = texas_df[['Draw Date', 'Estimated Jackpot']]
clean_texas.rename(columns={'Draw Date':'DrawDate', 'Estimated Jackpot':'estimated_jackpot'}, inplace=True)
clean_texas.head()

     DrawDate estimated_jackpot
14 2019-03-16      $495 Million
15 2019-03-13      $448 Million
16 2019-03-09      $414 Million
17 2019-03-06      $381 Million
18 2019-03-02      $348 Million

In [35]:
df = pb_new.merge(clean_texas, how='inner')

In [36]:
df

      DrawDate  WB1  WB2  WB3  WB4  WB5  PB    PP estimated_jackpot
0   2017-03-15   30   16   41   48   53  16   3.0      $123 Million
1   2017-03-11   57   41   50   26    1  11   2.0      $104 Million
2   2017-03-08   42   23   59   46   33   4   2.0       $85 Million
3   2017-03-04    2   22   63   19   18  19   3.0       $68 Million
4   2017-03-01   16   10   52   40   55  17  10.0       $53 Million
5   2017-02-25    6   62   32   47   65  19   2.0       $40 Million
6   2017-02-22   52   10   61   28   13   2   2.0      $403 Million
7   2017-02-18    9    3   33    7   31  20   3.0      $349 Million
8   2017-02-15   33    5   42   38   28  19   2.0      $310 Million
9   2017-02-11   37   64   17    9    5   2   2.0      $285 Million
10  2017-02-08   49   20   42   14   66   5   2.0      $255 Million
11  2017-02-04   52   17   16   13    6  25   3.0      $229 Million
12  2017-02-01    9   60   64   43   57  10   2.0      $206 Million
13  2017-01-28   39   12   49   69   20  17   2.0      $187 Million
14  2017-01-25   18   62   66   68   28  22   2.0      $170 Million
15  2017-01-21   45   25   23   67   52   2   2.0      $153 Million
16  2017-01-18   41    9   58   40   53  12   2.0      $135 Million
17  2017-01-14   55   69   23   64   59  13   5.0      $121 Million
18  2017-01-11    1   16   13   43    3  24   2.0      $106 Million
19  2017-01-07   37   63   12   24    3  10   2.0       $94 Million
20  2017-01-04   17   16   42   41   29   4   3.0       $80 Million
21  2016-03-16   46   50   12   13   10  21   3.0       $70 Million
22  2016-03-12   28   11   50   57   62  23   2.0       $60 Million
23  2016-03-09   32   34   14   23   68   3   3.0       $50 Million
24  2016-03-05    3   34   27   59   69  19   2.0       $40 Million
25  2016-03-02   62   52   13   12   44   6   2.0      $292 Million
26  2016-02-27   22   11   53   21   10  18   3.0      $266 Million
27  2016-02-24   67   21   65   31   64   5   3.0      $236 Million
28  2016-02-20   54   12   11   16   15  25   5.0      $212 Million
29  2016-02-17   29   27    7   40   17  25   2.0      $189 Million
..         ...  ...  ...  ...  ...  ...  ..   ...               ...
135 2011-02-26    4   45   21   17   13  10   5.0      $184 Million
136 2011-02-23   32   36   39   29   49  29   3.0      $155 Million
137 2011-02-19   12   34    3   42   37  36   5.0      $126 Million
138 2011-02-16   23   48   21    9   13  24   2.0      $101 Million
139 2011-02-12   32   52   36   48   11  19   4.0       $82 Million
140 2011-02-09   51   39   42   11    7  30   4.0       $63 Million
141 2011-02-05   15   41   59   37   56   5   5.0       $50 Million
142 2011-02-02   33   57   53    3   14  36   4.0       $35 Million
143 2011-01-29   28   45   24   52   49   2   4.0       $25 Million
144 2011-01-26    4   47   58    5   36   6   3.0       $20 Million
145 2011-01-22   34   30   51   31   45  23   2.0      $118 Million
146 2011-01-19   36   51   56   22   59  32   3.0       $96 Million
147 2011-01-15   22   13    9   37   23  31   3.0       $82 Million
148 2011-01-12   48   23   40   21   19  27   4.0       $67 Million
149 2011-01-08    7   52    6   33   26  24   2.0       $51 Million
150 2011-01-05   40   22   32   26   38   7   5.0       $34 Million
151 2011-01-01   37   47   18   22   54  36   2.0       $25 Million
152 2010-03-17   55   26   48   45   24   8   2.0       $20 Million
153 2010-03-13   16   36   20    6   31   8   5.0      $200 Million
154 2010-03-10   41   37   17   50   21   1   2.0      $170 Million
155 2010-03-06   41   33   10   59   29  15   2.0      $139 Million
156 2010-03-03   14   49    9    7   45  23   4.0      $114 Million
157 2010-02-27   47   18   58   53   51  30   2.0       $95 Million
158 2010-02-24   50   17   57   35    4  12   2.0       $76 Million
159 2010-02-20   13   54   41   37   27  32   2.0       $57 Million
160 2010-02-17   36    7   26    8   19  15   3.0       $40 Million
161 2010-02-13   14   10   40   51   30   1   4.0       $25 Million
162 2010-02-10   29    8   37   38    5  34   5.0       $20 Million
163 2010-02-06   22   54   52   14   59   4   3.0      $140 Million
164 2010-02-03   37   52   22   36   17  24   2.0      $115 Million

[165 rows x 9 columns]

In [38]:
## Powerball Sales data
sales_file = "./data/powerball_sales.xlsx"
sales_df = pd.read_excel(sales_file)

# change column to numeric type
sales_df['Number of Tickets Sold']= pd.to_numeric(sales_df['Number of Tickets Sold']) 

# rename columns
sales_df.columns = ['DrawDate', 'tickets_sold', 'jackpot_millions']

# set index to Draw Date
#sales_df.set_index('draw_date', inplace=True)
## only need tickets_sold
## only need estimated jackpot
clean_sales = sales_df[['DrawDate', 'tickets_sold']]
clean_sales.head()

    DrawDate  tickets_sold
0 2019-04-27      17204152
1 2019-04-24      15122600
2 2019-04-20      16422502
3 2019-04-17      14472208
4 2019-04-13      15663006

In [40]:
df_powerball = df.merge(clean_sales, how='inner')
df_powerball

,DrawDate,WB1,WB2,WB3,WB4,WB5,PB,PP,estimated_jackpot,tickets_sold
0,2017-03-15,30,16,41,48,53,16,3.0,$123 Million,14925612
1,2017-03-11,57,41,50,26,1,11,2.0,$104 Million,16275107
2,2017-03-08,42,23,59,46,33,4,2.0,$85 Million,13468239
3,2017-03-04,2,22,63,19,18,19,3.0,$68 Million,14434327
4,2017-03-01,16,10,52,40,55,17,10.0,$53 Million,12506202
5,2017-02-25,6,62,32,47,65,19,2.0,$40 Million,13888704
6,2017-02-22,52,10,61,28,13,2,2.0,$403 Million,74952749
7,2017-02-18,9,3,33,7,31,20,3.0,$349 Million,41665696
8,2017-02-15,33,5,42,38,28,19,2.0,$310 Million,33754629
9,2017-02-11,37,64,17,9,5,2,2.0,$285 Million,28146160
10,2017-02-08,49,20,42,14,66,5,2.0,$255 Million,24958367
11,2017-02-04,52,17,16,13,6,25,3.0,$229 Million,24638291
12,2017-02-01,9,60,64,43,57,10,2.0,$206 Million,20669972
13,2017-01-28,39,12,49,69,20,17,2.0,$187 Million,18821356
14,2017-01-25,18,62,66,68,28,22,2.0,$170 Million,15589230
15,2017-01-21,45,25,23,67,52,2,2.0,$153 Million,16557567
16,2017-01-18,41,9,58,40,53,12,2.0,$135 Million,14154095
17,2017-01-14,55,69,23,64,59,13,5.0,$121 Million,15910411
18,2017-01-11,1,16,13,43,3,24,2.0,$106 Million,13180846
19,2017-01-07,37,63,12,24,3,10,2.0,$94 Million,13184353
20,2017-01-04,17,16,42,41,29,4,3.0,$80 Million,11933816
21,2016-03-16,46,50,12,13,10,21,3.0,$70 Million,12819813
22,2016-03-12,28,11,50,57,62,23,2.0,$60 Million,13820128
23,2016-03-09,32,34,14,23,68,3,3.0,$50 Million,12481221
24,2016-03-05,3,34,27,59,69,19,2.0,$40 Million,14602679
25,2016-03-02,62,52,13,12,44,6,2.0,$292 Million,25769222
26,2016-02-27,22,11,53,21,10,18,3.0,$266 Million,25103142
27,2016-02-24,67,21,65,31,64,5,3.0,$236 Million,22622798
28,2016-02-20,54,12,11,16,15,25,5.0,$212 Million,22865693
29,2016-02-17,29,27,7,40,17,25,2.0,$189 Million,18875392
...,...,...,...,...,...,...,...,...,...,...
100,2013-01-26,22,49,41,26,3,18,NaN,$130 Million,20811569
101,2013-01-23,24,43,11,12,45,9,NaN,$110 Million,17846722
102,2013-01-19,29,8,28,34,38,35,NaN,$100 Million,19459142
103,2013-01-16,51,21,32,28,9,35,NaN,$90 Million,14403878
104,2013-01-12,47,21,23,14,10,7,NaN,$80 Million,14958769
105,2013-01-09,11,20,13,27,59,26,NaN,$70 Million,13307128
106,2013-01-05,30,49,54,26,51,25,NaN,$60 Million,14048755
107,2013-01-02,20,18,53,28,35,20,NaN,$50 Million,12072421
108,2012-03-17,11,55,58,14,49,30,NaN,$60 Million,16207067
109,2012-03-14,1,8,59,46,41,24,NaN,$50 Million,13950904
110,2012-03-10,5,41,20,14,17,5,NaN,$40 Million,16206621
111,2012-03-07,45,35,47,46,12,12,NaN,$60 Million,15418173
112,2012-03-03,47,30,29,49,45,35,NaN,$50 Million,17176470
113,2012-02-29,26,1,11,4,23,14,NaN,$40 Million,14527775
114,2012-02-25,54,11,6,42,53,7,NaN,$70 Million,18958083
115,2012-02-22,17,39,16,7,51,32,NaN,$60 Million,16383172
116,2012-02-18,23,50,28,59,56,5,NaN,$50 Million,18588952
117,2012-02-15,12,11,32,56,52,11,NaN,$40 Million,16345806
118,2012-02-11,37,52,10,1,57,11,NaN,$325 Million,84680809
119,2012-02-08,38,51,17,28,39,33,NaN,$250 Million,46763252
120,2012-02-04,23,56,43,45,15,7,NaN,$200 Million,37816136
121,2012-02-01,8,13,59,17,34,35,NaN,$170 Million,27642526
122,2012-01-28,41,54,59,33,5,13,NaN,$146 Million,24997731
123,2012-01-25,28,19,29,47,4,5,NaN,$120 Million,20651160
124,2012-01-21,44,12,43,24,45,7,NaN,$100 Million,20450945
125,2012-01-18,50,34,29,6,44,28,NaN,$80 Million,16676193
126,2012-01-14,41,30,10,36,38,1,5.0,$66 Million,24885431
127,2012-01-11,47,5,29,45,19,25,2.0,$54 Million,21467730
128,2012-01-07,3,24,38,21,39,24,5.0,$44 Million,22747865
129,2012-01-04,50,35,21,47,46,2,4.0,$30 Million,19026140

In [41]:
#df_powerball.set_index('DrawDate', inplace=True)

In [42]:
## Write existing dataframe to a .csv file
df_powerball.to_csv('data/master_lotto.csv')

In [43]:
## Portal Seven Powerball Winner Data
winning_state_url = 'http://portalseven.com/lottery/powerball_jackpot_winners.jsp'
    
winning_state = pd.read_html(winning_state_url)[2]
lotto_header = winning_state.iloc[0] 
winning_states_df = winning_state[1:]
winning_states_df.columns = lotto_header
winning_states_df = winning_states_df.drop(columns=['#'])

winning_states_df.dtypes

0
Draw Date        object
Jackpot Prize    object
Winner           object
State            object
dtype: object

In [44]:
winning_states_df['Draw Date']= pd.to_datetime(winning_states_df['Draw Date'])
mask = (winning_states_df['Draw Date'] > '01/01/2010') & (winning_states_df['Draw Date'] <= '03/17/2017')
winning_states_df = winning_states_df.loc[mask]
winning_states_df

,Draw Date,Jackpot Prize,Winner,State
16,2017-02-22,$435.3 Million,"Bohemian Financial, LLC",Indiana
17,2016-12-17,$121.6 Million,Anonymous,DE
18,2016-11-26,$420.9 Million,Tennessee 20,Tennessee
19,2016-09-17,$246 Million,William and Heather ten Broeke,Georgia
20,2016-07-30,$487 Million,Robin Egg 2016 Nominee Trust,New Hampshire
21,2016-05-07,$284 Million,The Smith Family Lottery Pool,New Jersey
22,2016-03-02,$291.4 Million,James Stocklas,Florida
23,2016-01-13,$1.58 Billion,Marvin and Mae Acosta,California
24,2015-11-04,$144 Million,Avondale Revocable Trust,Tennessee
25,2015-09-30,$310 Million,Julie Leach,Michigan
26,2015-08-01,$110 Million,Willie Nelson,California
27,2015-07-04,$70 Million,Tom Rea,Missouri
28,2015-06-20,$80 Million,Orencia Barzey,Florida
29,2015-06-03,$188.9 Million,Maria Herrera,Arizona
30,2015-04-18,$50 Million,Anonymous,Puerto Rico
31,2015-04-11,$80 Million,Alice Dawson,Florida
32,2015-03-25,$40 Million,Rocklin Four,New Jersey
33,2015-03-21,$50 Million,Michael Duncan,Tennessee
34,2015-03-14,$136 Million,Unclaimed,New York
35,2015-02-11,$564 Million,Anonymous,Puerto Rico
36,2014-11-29,$90 Million,Lisa N. Quam,Washington
37,2014-11-08,$202.6 Million,Marilyn Boldon,Missouri
38,2014-09-24,$228 Million,Vinh Nguyen,California
39,2014-08-09,$90 Million,"Claude ""Al"" G.",Colorado
40,2014-07-19,$60 Million,"John ""Jack"" Long",California
41,2014-07-09,$124.9 Million,Mary Ann Thompson,Ohio
42,2014-06-11,$259 Million,Roy Cockrum,Tennessee
43,2014-04-23,$150 Million,FlaMass Family Lottery Joint Venture,Florida
44,2014-03-22,$96.5 Million,John and Susan Brands,Missouri
45,2014-03-01,$60 Million,Joseph Saxer,California
...,...,...,...,...
72,2012-02-25,$70 Million,Tara Ramirez/Case Park LLC,New York
73,2012-02-11,$336.4 Million,The Rainbow Sherbert Trust,Rhode Island
74,2011-12-24,$128.8 Million,Anonymous Winners,Maryland
75,2011-11-19,$59.9 Million,Steven Lloyd,Pennsylvania
76,2011-11-02,$254.2 Million,The Putnam Avenue Family Trust,Connecticut
77,2011-09-14,$25 Million,Kathy Scruggs,Georgia
78,2011-09-07,$108.8 Million,Name Withheld,Maryland
79,2011-08-10,$228.9 Million,Thomas Morris,Minnesota
80,2011-06-29,$77.1 Million,Unclaimed,Georgia
81,2011-06-08,$25.6 Million,Jimmy Freeman,Massachusetts
82,2011-06-01,$201.9 Million,1937 Flatbush Avenue Dodgers LLC,New York
83,2011-04-23,$74 Million,"William ""Bill"" Swanson II",Indiana
84,2011-04-06,$221 Million,Darin Fox and Todd Reardon,Indiana
85,2011-02-26,$184 million,Carvajal Family Group,Florida
86,2011-01-22,$122.1 Million,Stephen Kirwin,New York
87,2010-12-25,$48.8 Million,Jeffrey & Christine Pintuff,New York
88,2010-12-11,$37.5 million,Muncie Meade,Kentucky
89,2010-12-01,$95.3 million,Sheila Verke,Arizona
90,2010-11-06,$128.6 Million,Team Victory,Michigan
91,2010-10-06,$61.5 million,The Ziegler Family Revocable Trust,Florida
92,2010-09-18,$116 Million,Gerald L. Render,Georgia
93,2010-08-21,$79 million,"William R. ""Randy""",West Virginia
94,2010-07-31,$85.7 Million,H&N Family Partnership,Louisiana
95,2010-07-10,$73.9 Million,Elizabeth Choras-Hanna,Florida
96,2010-06-23,$97 million,The Lucky Thirteen Plus One,Ohio
97,2010-06-02,$261.6 million,The 2010 Blind Trust (George M. Hoffman),Ohio
98,2010-04-21,$258.5 Million,"Christopher ""Chris"" Shaw",Missouri
99,2010-03-13,$211.7 million,Sandra Mcneil,New Jersey
100,2010-02-06,$141.4 Million,Frank Griffin,North Carolina
101,2010-01-02,$25 Million,Name Withheld,Arkansas

In [12]:
winning_states_df['Draw Date'] = winning_states_df["Draw Date"].dt.strftime('%m-%d-%Y')

In [13]:
winning_states_df.head()

0    Draw Date   Jackpot Prize                          Winner          State
16  02-22-2017  $435.3 Million         Bohemian Financial, LLC        Indiana
17  12-17-2016  $121.6 Million                       Anonymous             DE
18  11-26-2016  $420.9 Million                    Tennessee 20      Tennessee
19  09-17-2016    $246 Million  William and Heather ten Broeke        Georgia
20  07-30-2016    $487 Million    Robin Egg 2016 Nominee Trust  New Hampshire

In [15]:
#lotto_master = lotto_master.drop(columns=['Unnamed: 0'])

In [16]:
#lotto_master['DrawDate'] = pd.to_datetime(lotto_master['DrawDate']).dt.strftime('%m-%d-%Y')

In [17]:
#dlotto_master = lotto_master.rename(columns={'DrawDate':'Draw Date'})

In [18]:
#lotto_master

      Draw Date  WB1  WB2  WB3  WB4  WB5  PB    PP estimated_jackpot
0    03-15-2017   30   16   41   48   53  16   3.0      $123 Million
1    03-11-2017   57   41   50   26    1  11   2.0      $104 Million
2    03-08-2017   42   23   59   46   33   4   2.0       $85 Million
3    03-04-2017    2   22   63   19   18  19   3.0       $68 Million
4    03-01-2017   16   10   52   40   55  17  10.0       $53 Million
5    02-25-2017    6   62   32   47   65  19   2.0       $40 Million
6    02-22-2017   52   10   61   28   13   2   2.0      $403 Million
7    02-18-2017    9    3   33    7   31  20   3.0      $349 Million
8    02-15-2017   33    5   42   38   28  19   2.0      $310 Million
9    02-11-2017   37   64   17    9    5   2   2.0      $285 Million
10   02-08-2017   49   20   42   14   66   5   2.0      $255 Million
11   02-04-2017   52   17   16   13    6  25   3.0      $229 Million
12   02-01-2017    9   60   64   43   57  10   2.0      $206 Million
13   01-28-2017   39   12   49   69   20  17   2.0      $187 Million
14   01-25-2017   18   62   66   68   28  22   2.0      $170 Million
15   01-21-2017   45   25   23   67   52   2   2.0      $153 Million
16   01-18-2017   41    9   58   40   53  12   2.0      $135 Million
17   01-14-2017   55   69   23   64   59  13   5.0      $121 Million
18   01-11-2017    1   16   13   43    3  24   2.0      $106 Million
19   01-07-2017   37   63   12   24    3  10   2.0       $94 Million
20   01-04-2017   17   16   42   41   29   4   3.0       $80 Million
21   03-16-2016   46   50   12   13   10  21   3.0       $70 Million
22   03-12-2016   28   11   50   57   62  23   2.0       $60 Million
23   03-09-2016   32   34   14   23   68   3   3.0       $50 Million
24   03-05-2016    3   34   27   59   69  19   2.0       $40 Million
25   03-02-2016   62   52   13   12   44   6   2.0      $292 Million
26   02-27-2016   22   11   53   21   10  18   3.0      $266 Million
27   02-24-2016   67   21   65   31   64   5   3.0      $236 Million
28   02-20-2016   54   12   11   16   15  25   5.0      $212 Million
29   02-17-2016   29   27    7   40   17  25   2.0      $189 Million
..          ...  ...  ...  ...  ...  ...  ..   ...               ...
135  02-26-2011    4   45   21   17   13  10   5.0      $184 Million
136  02-23-2011   32   36   39   29   49  29   3.0      $155 Million
137  02-19-2011   12   34    3   42   37  36   5.0      $126 Million
138  02-16-2011   23   48   21    9   13  24   2.0      $101 Million
139  02-12-2011   32   52   36   48   11  19   4.0       $82 Million
140  02-09-2011   51   39   42   11    7  30   4.0       $63 Million
141  02-05-2011   15   41   59   37   56   5   5.0       $50 Million
142  02-02-2011   33   57   53    3   14  36   4.0       $35 Million
143  01-29-2011   28   45   24   52   49   2   4.0       $25 Million
144  01-26-2011    4   47   58    5   36   6   3.0       $20 Million
145  01-22-2011   34   30   51   31   45  23   2.0      $118 Million
146  01-19-2011   36   51   56   22   59  32   3.0       $96 Million
147  01-15-2011   22   13    9   37   23  31   3.0       $82 Million
148  01-12-2011   48   23   40   21   19  27   4.0       $67 Million
149  01-08-2011    7   52    6   33   26  24   2.0       $51 Million
150  01-05-2011   40   22   32   26   38   7   5.0       $34 Million
151  01-01-2011   37   47   18   22   54  36   2.0       $25 Million
152  03-17-2010   55   26   48   45   24   8   2.0       $20 Million
153  03-13-2010   16   36   20    6   31   8   5.0      $200 Million
154  03-10-2010   41   37   17   50   21   1   2.0      $170 Million
155  03-06-2010   41   33   10   59   29  15   2.0      $139 Million
156  03-03-2010   14   49    9    7   45  23   4.0      $114 Million
157  02-27-2010   47   18   58   53   51  30   2.0       $95 Million
158  02-24-2010   50   17   57   35    4  12   2.0       $76 Million
159  02-20-2010   13   54   41   37   27  32   2.0       $57 Million
160  02-17-2010   36    7   26    8   19  15   3.0       $40 Million
161  02-13-2010   14   10   40   51   30   1   4.0       $25 Million
162  02-10-2010   29    8   37   38    5  34   5.0       $20 Million
163  02-06-2010   22   54   52   14   59   4   3.0      $140 Million
164  02-03-2010   37   52   22   36   17  24   2.0      $115 Million

[165 rows x 9 columns]

In [19]:
winning_states_df.head()

0    Draw Date   Jackpot Prize                          Winner          State
16  02-22-2017  $435.3 Million         Bohemian Financial, LLC        Indiana
17  12-17-2016  $121.6 Million                       Anonymous             DE
18  11-26-2016  $420.9 Million                    Tennessee 20      Tennessee
19  09-17-2016    $246 Million  William and Heather ten Broeke        Georgia
20  07-30-2016    $487 Million    Robin Egg 2016 Nominee Trust  New Hampshire

In [20]:
## rename draw date to winning date
winning_states_df = winning_states_df.rename(columns={'Draw Date':'WinningDate', 'Jackpot Prize': 'JackpotPrize'})
# set index to Draw Date
#winning_states_df.set_index('Winning Date', inplace=True)
winning_states_df.head()

0  Winning Date   Jackpot Prize                          Winner          State
16   02-22-2017  $435.3 Million         Bohemian Financial, LLC        Indiana
17   12-17-2016  $121.6 Million                       Anonymous             DE
18   11-26-2016  $420.9 Million                    Tennessee 20      Tennessee
19   09-17-2016    $246 Million  William and Heather ten Broeke        Georgia
20   07-30-2016    $487 Million    Robin Egg 2016 Nominee Trust  New Hampshire

In [21]:
#lotto_master.dtypes

Draw Date             object
WB1                    int64
WB2                    int64
WB3                    int64
WB4                    int64
WB5                    int64
PB                     int64
PP                   float64
estimated_jackpot     object
dtype: object

In [48]:
## Powerball Sales data
sales_file = "./data/powerball_sales.xlsx"
sales_df = pd.read_excel(sales_file)

# change column to numeric type
sales_df['Number of Tickets Sold']= pd.to_numeric(sales_df['Number of Tickets Sold']) 

# rename columns
sales_df.columns = ['draw_date', 'tickets_sold', 'jackpot_millions']

# set index to Draw Date
#sales_df.set_index('draw_date', inplace=True)

sales_df

draw_date           datetime64[ns]
tickets_sold                 int64
jackpot_millions           float64
dtype: object

In [23]:
from sqlalchemy import create_engine
import mysql.connector
import getpass
SQLUSER = 'root'
SQLPASS = getpass.getpass()
SQLHOST = 'localhost'
SQLPORT = '3306'
engine = create_engine(f'mysql+mysqlconnector://{SQLUSER}:{SQLPASS}@{SQLHOST}:{SQLPORT}')
conn = engine.connect()
conn.execute('DROP DATABASE IF EXISTS lottery;')
conn.execute("CREATE DATABASE lottery")
lottery_database = engine.execute("USE lottery;")
lotto_master.to_sql(name='powerball', con=engine, if_exists = 'replace', index=False)
data = pd.read_sql('SELECT * FROM powerball', engine)

········

In [24]:
data

      Draw Date  WB1  WB2  WB3  WB4  WB5  PB    PP estimated_jackpot
0    03-15-2017   30   16   41   48   53  16   3.0      $123 Million
1    03-11-2017   57   41   50   26    1  11   2.0      $104 Million
2    03-08-2017   42   23   59   46   33   4   2.0       $85 Million
3    03-04-2017    2   22   63   19   18  19   3.0       $68 Million
4    03-01-2017   16   10   52   40   55  17  10.0       $53 Million
5    02-25-2017    6   62   32   47   65  19   2.0       $40 Million
6    02-22-2017   52   10   61   28   13   2   2.0      $403 Million
7    02-18-2017    9    3   33    7   31  20   3.0      $349 Million
8    02-15-2017   33    5   42   38   28  19   2.0      $310 Million
9    02-11-2017   37   64   17    9    5   2   2.0      $285 Million
10   02-08-2017   49   20   42   14   66   5   2.0      $255 Million
11   02-04-2017   52   17   16   13    6  25   3.0      $229 Million
12   02-01-2017    9   60   64   43   57  10   2.0      $206 Million
13   01-28-2017   39   12   49   69   20  17   2.0      $187 Million
14   01-25-2017   18   62   66   68   28  22   2.0      $170 Million
15   01-21-2017   45   25   23   67   52   2   2.0      $153 Million
16   01-18-2017   41    9   58   40   53  12   2.0      $135 Million
17   01-14-2017   55   69   23   64   59  13   5.0      $121 Million
18   01-11-2017    1   16   13   43    3  24   2.0      $106 Million
19   01-07-2017   37   63   12   24    3  10   2.0       $94 Million
20   01-04-2017   17   16   42   41   29   4   3.0       $80 Million
21   03-16-2016   46   50   12   13   10  21   3.0       $70 Million
22   03-12-2016   28   11   50   57   62  23   2.0       $60 Million
23   03-09-2016   32   34   14   23   68   3   3.0       $50 Million
24   03-05-2016    3   34   27   59   69  19   2.0       $40 Million
25   03-02-2016   62   52   13   12   44   6   2.0      $292 Million
26   02-27-2016   22   11   53   21   10  18   3.0      $266 Million
27   02-24-2016   67   21   65   31   64   5   3.0      $236 Million
28   02-20-2016   54   12   11   16   15  25   5.0      $212 Million
29   02-17-2016   29   27    7   40   17  25   2.0      $189 Million
..          ...  ...  ...  ...  ...  ...  ..   ...               ...
135  02-26-2011    4   45   21   17   13  10   5.0      $184 Million
136  02-23-2011   32   36   39   29   49  29   3.0      $155 Million
137  02-19-2011   12   34    3   42   37  36   5.0      $126 Million
138  02-16-2011   23   48   21    9   13  24   2.0      $101 Million
139  02-12-2011   32   52   36   48   11  19   4.0       $82 Million
140  02-09-2011   51   39   42   11    7  30   4.0       $63 Million
141  02-05-2011   15   41   59   37   56   5   5.0       $50 Million
142  02-02-2011   33   57   53    3   14  36   4.0       $35 Million
143  01-29-2011   28   45   24   52   49   2   4.0       $25 Million
144  01-26-2011    4   47   58    5   36   6   3.0       $20 Million
145  01-22-2011   34   30   51   31   45  23   2.0      $118 Million
146  01-19-2011   36   51   56   22   59  32   3.0       $96 Million
147  01-15-2011   22   13    9   37   23  31   3.0       $82 Million
148  01-12-2011   48   23   40   21   19  27   4.0       $67 Million
149  01-08-2011    7   52    6   33   26  24   2.0       $51 Million
150  01-05-2011   40   22   32   26   38   7   5.0       $34 Million
151  01-01-2011   37   47   18   22   54  36   2.0       $25 Million
152  03-17-2010   55   26   48   45   24   8   2.0       $20 Million
153  03-13-2010   16   36   20    6   31   8   5.0      $200 Million
154  03-10-2010   41   37   17   50   21   1   2.0      $170 Million
155  03-06-2010   41   33   10   59   29  15   2.0      $139 Million
156  03-03-2010   14   49    9    7   45  23   4.0      $114 Million
157  02-27-2010   47   18   58   53   51  30   2.0       $95 Million
158  02-24-2010   50   17   57   35    4  12   2.0       $76 Million
159  02-20-2010   13   54   41   37   27  32   2.0       $57 Million
160  02-17-2010   36    7   26    8   19  15   3.0       $40 Million
161  02-13-2010   14   10   40   51   30   1   4.0       $25 Million
162  02-10-2010   29    8   37   38    5  34   5.0       $20 Million
163  02-06-2010   22   54   52   14   59   4   3.0      $140 Million
164  02-03-2010   37   52   22   36   17  24   2.0      $115 Million

[165 rows x 9 columns]

In [25]:
winning_states_df.to_sql(name='winners', con=engine, if_exists='replace', index=False)
winner_data = pd.read_sql('SELECT * FROM winners', engine)

In [26]:
winner_data

,Winning Date,Jackpot Prize,Winner,State
0,02-22-2017,$435.3 Million,"Bohemian Financial, LLC",Indiana
1,12-17-2016,$121.6 Million,Anonymous,DE
2,11-26-2016,$420.9 Million,Tennessee 20,Tennessee
3,09-17-2016,$246 Million,William and Heather ten Broeke,Georgia
4,07-30-2016,$487 Million,Robin Egg 2016 Nominee Trust,New Hampshire
5,05-07-2016,$284 Million,The Smith Family Lottery Pool,New Jersey
6,03-02-2016,$291.4 Million,James Stocklas,Florida
7,01-13-2016,$1.58 Billion,Marvin and Mae Acosta,California
8,11-04-2015,$144 Million,Avondale Revocable Trust,Tennessee
9,09-30-2015,$310 Million,Julie Leach,Michigan
10,08-01-2015,$110 Million,Willie Nelson,California
11,07-04-2015,$70 Million,Tom Rea,Missouri
12,06-20-2015,$80 Million,Orencia Barzey,Florida
13,06-03-2015,$188.9 Million,Maria Herrera,Arizona
14,04-18-2015,$50 Million,Anonymous,Puerto Rico
15,04-11-2015,$80 Million,Alice Dawson,Florida
16,03-25-2015,$40 Million,Rocklin Four,New Jersey
17,03-21-2015,$50 Million,Michael Duncan,Tennessee
18,03-14-2015,$136 Million,Unclaimed,New York
19,02-11-2015,$564 Million,Anonymous,Puerto Rico
20,11-29-2014,$90 Million,Lisa N. Quam,Washington
21,11-08-2014,$202.6 Million,Marilyn Boldon,Missouri
22,09-24-2014,$228 Million,Vinh Nguyen,California
23,08-09-2014,$90 Million,"Claude ""Al"" G.",Colorado
24,07-19-2014,$60 Million,"John ""Jack"" Long",California
25,07-09-2014,$124.9 Million,Mary Ann Thompson,Ohio
26,06-11-2014,$259 Million,Roy Cockrum,Tennessee
27,04-23-2014,$150 Million,FlaMass Family Lottery Joint Venture,Florida
28,03-22-2014,$96.5 Million,John and Susan Brands,Missouri
29,03-01-2014,$60 Million,Joseph Saxer,California
...,...,...,...,...
56,02-25-2012,$70 Million,Tara Ramirez/Case Park LLC,New York
57,02-11-2012,$336.4 Million,The Rainbow Sherbert Trust,Rhode Island
58,12-24-2011,$128.8 Million,Anonymous Winners,Maryland
59,11-19-2011,$59.9 Million,Steven Lloyd,Pennsylvania
60,11-02-2011,$254.2 Million,The Putnam Avenue Family Trust,Connecticut
61,09-14-2011,$25 Million,Kathy Scruggs,Georgia
62,09-07-2011,$108.8 Million,Name Withheld,Maryland
63,08-10-2011,$228.9 Million,Thomas Morris,Minnesota
64,06-29-2011,$77.1 Million,Unclaimed,Georgia
65,06-08-2011,$25.6 Million,Jimmy Freeman,Massachusetts
66,06-01-2011,$201.9 Million,1937 Flatbush Avenue Dodgers LLC,New York
67,04-23-2011,$74 Million,"William ""Bill"" Swanson II",Indiana
68,04-06-2011,$221 Million,Darin Fox and Todd Reardon,Indiana
69,02-26-2011,$184 million,Carvajal Family Group,Florida
70,01-22-2011,$122.1 Million,Stephen Kirwin,New York
71,12-25-2010,$48.8 Million,Jeffrey & Christine Pintuff,New York
72,12-11-2010,$37.5 million,Muncie Meade,Kentucky
73,12-01-2010,$95.3 million,Sheila Verke,Arizona
74,11-06-2010,$128.6 Million,Team Victory,Michigan
75,10-06-2010,$61.5 million,The Ziegler Family Revocable Trust,Florida
76,09-18-2010,$116 Million,Gerald L. Render,Georgia
77,08-21-2010,$79 million,"William R. ""Randy""",West Virginia
78,07-31-2010,$85.7 Million,H&N Family Partnership,Louisiana
79,07-10-2010,$73.9 Million,Elizabeth Choras-Hanna,Florida
80,06-23-2010,$97 million,The Lucky Thirteen Plus One,Ohio
81,06-02-2010,$261.6 million,The 2010 Blind Trust (George M. Hoffman),Ohio
82,04-21-2010,$258.5 Million,"Christopher ""Chris"" Shaw",Missouri
83,03-13-2010,$211.7 million,Sandra Mcneil,New Jersey
84,02-06-2010,$141.4 Million,Frank Griffin,North Carolina
85,01-02-2010,$25 Million,Name Withheld,Arkansas

In [27]:
sales_df.to_sql(name='sales', con=engine, if_exists='replace', index=True)
sales_data = pd.read_sql('SELECT * FROM sales', engine)

In [28]:
sales_data

     draw_date  tickets_sold  jackpot_millions
0   2019-04-27      17204152             166.0
1   2019-04-24      15122600             150.0
2   2019-04-20      16422502             136.0
3   2019-04-17      14472208             118.0
4   2019-04-13      15663006             101.0
5   2019-04-10      13260953              84.0
6   2019-04-06      14525590              68.0
7   2019-04-03      13218913              54.0
8   2019-03-30      14970003              40.0
9   2019-03-27     134060942             750.0
10  2019-03-23      90298137             625.0
11  2019-03-20      71029841             550.0
12  2019-03-16      46498176             495.0
13  2019-03-13      37293378             448.0
14  2019-03-09      34396266             414.0
15  2019-03-06      26004175             381.0
16  2019-03-02      26259031             348.0
17  2019-02-27      22296012             322.0
18  2019-02-23      22883302             304.0
19  2019-02-20      18319677             282.0
20  2019-02-16      19922601             260.0
21  2019-02-13      17520517             242.0
22  2019-02-09      18710129             224.0
23  2019-02-06      16846736             204.0
24  2019-02-02      17408508             191.0
25  2019-01-30      14564503             174.0
26  2019-01-26      15977505             161.0
27  2019-01-23      13782147             144.0
28  2019-01-19      15585694             129.0
29  2019-01-16      13558629             112.0
..         ...           ...               ...
734 2012-04-14      20077049             113.0
735 2012-04-11      15751801              94.0
736 2012-04-07      16408961              80.0
737 2012-04-04      14489019              70.0
738 2012-03-31      19152539              60.0
739 2012-03-28      14557546              50.0
740 2012-03-24      14999871              40.0
741 2012-03-21      14516101              70.0
742 2012-03-17      16207067              60.0
743 2012-03-14      13950904              50.0
744 2012-03-10      16206621              40.0
745 2012-03-07      15418173              60.0
746 2012-03-03      17176470              50.0
747 2012-02-29      14527775              40.0
748 2012-02-25      18958083              70.0
749 2012-02-22      16383172              60.0
750 2012-02-18      18588952              50.0
751 2012-02-15      16345806              40.0
752 2012-02-11      84680809             325.0
753 2012-02-08      46763252             250.0
754 2012-02-04      37816136             200.0
755 2012-02-01      27642526             170.0
756 2012-01-28      24997731             146.0
757 2012-01-25      20651160             120.0
758 2012-01-21      20450945             100.0
759 2012-01-18      16676193              80.0
760 2012-01-14      24885431              66.0
761 2012-01-11      21467730              54.0
762 2012-01-07      22747865              44.0
763 2012-01-04      19026140              30.0

[764 rows x 3 columns]